{% extends 'base.html' %}

<script type="text/javascript">
{% block jquery %}
  $(".item-qty").change(function(){
    // event.preventDefault();
    var form_obj = $(this).parent("form");
    var item_id = $(this).prev("input[type='hidden']").val();
    var qty = $(this).val();
    var formData = {
      item_id: item_id,
      qty: qty
    };
    $.ajax({
      type: "GET",
      url: "{% url 'cart' %}",
      data: formData,
      success: function(data) {
        $("#item-line-total-"+item_id).text(data.line_item_total);
        $("#cart-subtotal").text(data.cart_subtotal);
        $("#cart-tax-total").text(data.cart_tax_total);
        $("#cart-total").text(data.cart_total);
        showFlashMessage(data.flash_message, 2800);
      },
      error: function(response, error) {
        form_obj.submit();
      }
    })
  })

  $(".item-del").click(function(){
    event.preventDefault();
    var link_obj = $(this);
    var line_obj = link_obj.closest("tr");
    var item_id = parseInt(line_obj.attr("id").replace("item-", ""));
    var formData = {
      item_id: item_id,
      delete: "\u2713"
    };
    $.ajax({
      type: "GET",
      url: "{% url 'cart' %}",
      data: formData,
      success: function(data) {
        showFlashMessage(data.flash_message, 2800);
        updateCartItemCount();
        
        if (data.cartitem_count == 0) {
          var template = "{% filter escapejs %}{% include 'carts/empty_cart.html' %}{% endfilter %}";
          $(".main-content").html(template);
        } else {
          line_obj.fadeOut();
          $("#cart-subtotal").text(data.cart_subtotal);
          $("#cart-tax-total").text(data.cart_tax_total);
          $("#cart-total").text(data.cart_total);
        }
      },
      error: function(response, error) {
        link_obj.unbind('click');
        link_obj.click();
      }
    })
  })
{% endblock %}
</script>

{% block content %}

<div class="container main-content">

  {% if object.cartitem_set.count == 0 %}

    {% include 'carts/empty_cart.html' %}

  {% else %}

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th class="text-right">Total</th>
      <th class="text-center">Remove</th>
    </tr>
    {% for cartitem in object.cartitem_set.all %}
    <tr id="item-{{ cartitem.item.id }}">
  	  <td>{{ cartitem.item.get_title }}</td>
      <td>
        <form method="GET" action="">
          <input type="hidden" name="item_id" value="{{ cartitem.item.id }}" />
          <input type="number" name="qty" class="item-qty" value="{{ cartitem.quantity }}" />
          <input type="hidden" name="update" value="true" />
          <input type="submit" class="btn btn-link btn-update" value="Update" style="display:none;" />
        </form>
      </td>
      <td id="item-line-total-{{ cartitem.item.id }}" class="text-right">{{ cartitem.line_item_total }}</td>
      <td class="text-center"><a href="{{ cartitem.remove_url }}" class="item-del">X</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3" class="text-right"><strong>Subtotal:</strong> <span id="cart-subtotal">{{ object.subtotal }}</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="text-right"><strong>Tax (Estimated):</strong> <span id="cart-tax-total">{{ object.tax_total }}</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="text-right"><strong>Total:</strong> <span id="cart-total">{{ object.total }}</span></td>
      <td>&nbsp;</td>
    </tr>
  </table>

{% endif %}

</div>

{% endblock %}