{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if user_can_continue %}



<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <p class="lead">
      Order Summary
    </p>
    <table class="table">
      <tr>
        <td>
          <span class="lead">{{ order.cart.cartitem_set.count }} Cart item(s):</span> <br/>
          {% for cartitem in order.cart.cartitem_set.all %}
          &emsp;&emsp;<b>{{ cartitem.item.get_title }}</b><br/>
          {% endfor %}          
        </td>
      </tr>
      <tr>
        <td><b>Cart total:</b> {{ order.cart.total }}</td>
      </tr>
      <tr>
        <td>&emsp;&emsp;-- <b>Subtotal:</b> {{ order.cart.subtotal }}</td>
      </tr>
      <tr>
        <td>&emsp;&emsp;-- <b>Tax:</b> {{ order.cart.tax_total }}</td>
      </tr>
      <tr>
        <td><b>Shipping Fee:</b> {{ order.shipping_total_price }}</td>
      </tr>
      <tr>
        <td><b>Total:</b> {{ order.order_price }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <p><b>Shipping to:</b></p>
    <p>&emsp;&emsp;{{ order.shipping_address.get_address }}</p>
    <p><b>Billing to:</b></p>
    <p>&emsp;&emsp;{{ order.billing_address.get_address }}</p>
    <p>
      <a href="{% url 'order_address' %}">Change Address</a>
    </p>
    <br/>
    <form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
      <p>
        <input type="hidden" name="payment_token" value="ABC" />
        <b><button type="submit">Complete Order</button></b>
      </p>
    </form>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-sm-6">
    <p class="lead">Continue as Guest.</p>
    <form method="POST" action="">{% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-success" value="Continue as Guest" />
    </form>
  </div>

  <div class="col-sm-6">
  	<p class="lead">Login to Continue.</p>
    <form method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
      {{ login_form|crispy }}
      <input type="hidden" name="next" value="{{ next_url }}" />
      <input type="submit" class="btn btn-success" value="Login" />
    </form>
    <div class="text-center">
      <p>{% trans 'Forgot password' %}? <a href="{% url 'auth_password_reset' %}">{% trans 'Reset it' %}</a>!</p>
      <p>{% trans 'Not member' %}? <a href="{% url 'registration_register' %}">{% trans 'Register' %}</a>!</p>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}