.fa-navbar-cart {
  font-size: 18px;
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
}

.orig-price {
  color: red;
  text-decoration: line-through;
}

.container-alert-flash {
  position: fixed;
  top: 10px;
  width: 100%;
  right: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}