{% extends 'base.html' %}

{% block content %}


<div class="row">
  <div class="col-sm-8">
    <h2>{{ object.title }}</h2>
    {% if object.productimage_set.count > 0 %}
    <div>
      {% for img in object.productimage_set.all %}
      <img class="img-responsive" src="{{ img.image.url }}" />
      {% endfor %}
    </div>
    {% endif %}
    <p class="lead">{{ object.description }}</p>
  </div>

  <!-- Product sidebar -->
  <div class="col-sm-4">

  	<h3>$ {{ object.price }}</h3>

  {% if object.variation_set.count > 1 %}

    <select class="form-control">
      {% for var_obj in object.variation_set.all %}
      <option value="{{ var_obj.id }}">{{ var_obj.title }}</option>
      {% endfor %}
    </select>

  {% endif %}

    <br/>
    <a href="#" class="btn btn-primary">Add to Cart</a>

    <hr/>
    <p>
      <h4>Share</h4>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>

      <a href="https://twitter.com/home?status={{ object.title }}.%20Check%20it%20now%20on%20{{ request.build_absolute_uri }}" target="_blank">
        <i class="fa fa-twitter-square fa-3x"></i>
      </a>
    </p>


    <h4>Related Products</h4>
  </div>  <!-- end of Product sidebar -->

</div>

{% endblock %}